* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    width: 100vw;
    height: calc(100vh - 200px);
    font-family: Arial, Helvetica, sans-serif;
}

.component {
    text-align: center;
    padding: 20px;
    width: 140px;
    background-color: white;
}

img {
    max-width: 120px;
}

p {
    font-size: 15px;
}