* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 46%, 89%);
    height: 100vh;
}

.component {
    text-align: center;
    padding: 20px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

h1 {
    font-size: 20px;
    margin: 10px 0;
}

p {
    font-size: 15px;
}